@import "../theme";

.transparent-row {
    background-color: transparent;
}

.container-mapquestor{
    text-align: center; /* Aligns text horizontally */
    /* Optional: If you want to center vertically as well */
    display: flex;
    justify-content: left;
    align-items: center;
  }

.container-header{
    background-color: rgb(138, 163, 144, 0.5);
}

.container-search-bar{
    font-size: larger;
}

.container-avatar{
    text-align: center; /* Aligns text horizontally */
    /* Optional: If you want to center vertically as well */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logoAndText{
    text-align: center; /* Aligns text horizontally */
    /* Optional: If you want to center vertically as well */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}