@import "../theme";

.transparent-row {
    background-color: transparent;
}

.container-mapquestor{
    text-align: center; /* Aligns text horizontally */
    /* Optional: If you want to center vertically as well */
    display: flex;
    justify-content: left;
    align-items: center;
  }

.container-header{
    background-color: rgb(138, 163, 144, 0.5);
}

.container-search-bar{
    font-size: larger;
}

.container-avatar{
    text-align: center; /* Aligns text horizontally */
    /* Optional: If you want to center vertically as well */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logoAndText{
    text-align: center; /* Aligns text horizontally */
    /* Optional: If you want to center vertically as well */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}

#leaderboard {
    padding:50px;
}
.ladder-nav {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    background:#5055CB;
    padding:10px 25px;
    border-radius:10px;
    border:1px solid #686EF9;
}
.ladder-title {
    flex:2;
}
.ladder-search {
    flex:1;
    padding-right:25px;
}
.ladder-title {
    font-size:20px;
    color:#888DFF!important;
    font-weight:bold;
    text-transform:uppercase;
}
.ladder-search input {
    color:white
}
.ladder-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888DFF;
}
.ladder-search input::-moz-placeholder { /* Firefox 19+ */
    color: #888DFF;
}
.ladder-search input:-ms-input-placeholder { /* IE 10+ */
    color: #888DFF;
}
.ladder-search input:-moz-placeholder { /* Firefox 18- */
    color: #888DFF;
}
/* /end Ladder Navigation */
/* Leaderboard Results */
.leaderboard-results {
    text-align:left;
    border-collapse: collapse;
}
.leaderboard-results thead th {
    padding: 25px;
    color:#747474;
    font-size:14px;
    font-weight:bold;
}
.leaderboard-results tbody td {
    padding:15px 25px;
    background:#1a1a1a;
    font-size:16px;
    border-bottom:5px solid #232323;
}
.leaderboard-results tbody td:nth-of-type(7) {
    font-weight:bold;
}
.leaderboard-results tbody tr:hover td {
    background:#1d1d1d;
}
.leaderboard-results tbody tr {
    color:#747474;
}
.leaderboard-results tbody tr:first-child {
    color:#686EF9;
}
.leaderboard-results tbody span {
    font-weight:bold;
    padding:10px 15px;
    border-radius:50%;
}
.leaderboard-results tbody tr:first-child span {
    background:#5055CB;
    color:white;
}
.leaderboard-results tbody tr span {
    background:#262626;
    color:#747474;
}