@import "../theme";

.individual-button {
  background-color: green;
  color: white; /* Text color */
  padding: 20px 40px; /* Adjust padding to increase button size */
  font-size: 24px; /* Adjust font size to increase button size */
  width: 250px;
  margin: 20px;

}

.individual-button:hover {
  background-color: darkgreen; /* Change color on hover if desired */
}

