@import "../theme";

.login-container{
  filter: blur(0px);
  background-color: rgb(216, 216, 216, 0.9);
}

.instructions {
  display: flex;
  color: red;
  font-weight: bold;
}

.offscreen {
  display: none;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.errmsg {
  color: red;
  font-weight: bold;
}

.custom-font {
  font-family: "Mansalva", sans-serif;
}
