@import "_theme.scss";


#app {
  background-image: url('../assets/world_background_blured.jpg'); /* Pfad zum Bild anpassen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Trebuchet MS", sans-serif;
}